body{
}
.header{
  max-height: 150px;
  background-color: rgb(1, 1, 10);
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0%;
  z-index: 1;
 
}
.h-img{
  width: 60px;
  /* height: 70px; */
}
.h-nav NavLink{
  margin: 10px;
 
}
.registration-container{
  background-image: url('https://wallpapercave.com/wp/wp4430530.jpg');
  height: 110vh;
  width: 100vw;
  background-size: cover;
  padding-top: 1%;
  

}
.registration{
  margin-left: 15% ;
  padding: 2%;
  max-width: fit-content;
  /* border: 1px solid black; */
  /* box-shadow: 11px 12px 13px 12px rgb(105, 104, 104); */
}
.loginContainer{
  background-image: url('Images/bestbookcovers2019.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  padding: 1%;
 
}
.loginPage{
  margin: 2% auto;
  /* box-shadow: 11px 12px 13px 12px rgb(105, 104, 104); */
  background-color: rgb(114, 112, 111);
  border-radius: 2%;
}
.btn{
  border: none;
  color: white;
}
.profile-img{
  
  border-radius: 50%;
  border: 1px solid rgb(1, 1, 10);
}
.my-profile-container{
  background-image: url('https://wallpaperaccess.com/full/1927125.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  padding: 1%;
}
.my-profile{
 
  padding: 4%;
  margin: 2% auto;
  border: 1px solid grey;
  border-radius: 2%;
  max-width: fit-content;
}

.changePwd{
  padding: 2%;
  margin: 2% auto;
  box-shadow: 11px 12px 13px 12px rgb(105, 104, 104);
  max-width: fit-content;
}
.changePassword{
  background-image: url('https://c8.alamy.com/comp/2J0C4D4/change-password-written-on-a-sticky-note-on-a-computer-keyboard-wooden-office-desk-with-coffee-cup-paper-and-glasses-concept-for-data-security-in-2J0C4D4.jpg');
  height: 105vh;
  padding-top: 10%;
  margin-top: -10%;
}
.searchByRole{
  margin-left: 40%;
}
.swal-title{
  color:red
}
/* .productImages-container{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHxdxsZ5Jd9q3ncvOsYCpeEbr8BDJY6uffKI6vIiKAcZkAhiccYaS_dr0wRQcm6psesxQ&usqp=CAU');

} */
.productImages{
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  gap: 3%;  
  padding-left: 1%;
  padding-right: 1%;
}
.productCard{
  border: 1px solid black;
  border-radius: 2%;
  background-color: rgb(223, 212, 198);
  padding: 5%;
  min-height: 60vh;
}

.carousel-item {

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  height: 45vh !important;
  /* border: 2px solid black; */

}

.cardImg img {

  height: 20% !important;
  width: 20% !important;
  /* object-fit: cover; */
}

.cardImg{
  width:100%;
  height:100%;
  z-index: -1;
  /* object-fit: cover; */
}

  
.productCard-btn button{
  display: none;
  opacity: 0;
}
.productCard:hover .productCard-btn button{
  display: block;
  opacity: 1;
  margin-top: -13%;
  z-index: 2;
}
.createProduct-container{
  background-image: url('https://w0.peakpx.com/wallpaper/31/750/HD-wallpaper-cup-coffee-books-pen-laptop.jpg');
  background-repeat: no-repeat;
  padding: 5%;
  object-fit: cover;
  max-width: fit-content;
  margin: 0% auto;
}

